.tickets-sticky-button {
    position: fixed;
    bottom: 60px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #9B62A2;
    background-color: #374BA5;*/
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Karton', sans-serif;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 150px;
    width: 150px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../../images/hanukkah2025/MainInfo/ticket.png);



    margin-bottom: 10px;
  }

   .lottery-sticky-button {
    position: fixed;
    bottom: 60px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B62A2;
    background-color: #374BA5;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Karton', sans-serif;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 150px;
    width: 150px;
   }

   .help-sticky-button {
    position: fixed;
    bottom: 200px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'Karton', sans-serif;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 100px;
    width: 100px;
    flex-direction: column;
    gap: 5px;
   } 

  @media screen and (max-width: 840px) {
    .tickets-sticky-button {
      height: 100px;
      width: 100px;
      font-size: 24px;
    }

    .lottery-sticky-button {
      height: 100px;
      width: 100px;
      font-size: 20px;
      right: 25px;
    }

    .help-sticky-button {
      bottom: 160px;
      height: 80px;
      width: 80px;
      font-size: 18px;
     } 
}

@media screen and (max-width: 550px) {
  .help-sticky-button {
    height: 70px;
    width: 70px;
    font-size: 14px;
   } 
}


  .lottery-sticky-button.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 55;
  }

  .tickets-sticky-button.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 55;
  }
  
  .help-sticky-button.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 4;
  }