.liveMusic__heading {
    margin-bottom: 30px;
    text-align: center;
}

.liveMusic__container {
    position: relative;
}

.liveMusic__lastPic {
    background-image: url(../../../../images/hanukkah2025/LiveMusic/2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 263px;
    height: 81px;
    margin-top: 35px;
    margin-bottom: 120px;
}

.liveMusic__left__pic {
    background-image: url(../../../../images/hanukkah2025/LiveMusic/1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: -180px;
    width: 160px;
    height: 215px;
}

@media screen and (max-width: 890px) {
    .liveMusic__lastPic {
        width: 187px;
        height: 57px;
        margin-bottom: 80px;
    }

    .liveMusic__left__pic {
        width: 66px;
        height: 199px;
        left: -66px;
        top: 0px;
    }
}
@media screen and (max-width: 540px) {
    .liveMusic__left__pic {
        top: -80px;
        left: 0;
    }
}

@media screen and (max-width: 485px) {
    .liveMusic__lastPic {
        width: 124px;
        height: 38px;
        margin-top: 14px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 380px) {
    .liveMusic__left__pic {
        width: 32px;
        height: 97px;
        top: 0;
    }
}