.aboutFestival__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    background-color: #fff;
}

.aboutFestival__main-title {
    margin-top: 50px;

    font-size: 36px;
}

@media screen and (max-width: 500px) {
    .aboutFestival__main-title {
        font-size: 26px;
    }
}

.aboutFestival__text-container {
    max-width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .aboutFestival__text-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.aboutFestival__text {
    max-width: 65%;
    text-align: start;
}

@media screen and (max-width: 800px) {
    .aboutFestival__text{
        max-width: 100%;
    }
}

.aboutFestival__text-wrapper {
    border-radius: 8px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .aboutFestival__text-wrapper{
        flex-direction: column;
    }
}

.aboutFestival__img {
    max-width: 30%;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    .aboutFestival__img{
        max-width: 100%;
    }
}
