.center_container_hanukkha2025 {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 803px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 890px) {
    .center_container_hanukkha2025 {
        max-width: 460px;
    }
}

@media screen and (max-width: 500px) {
    .center_container_hanukkha2025 {
        max-width: 100%;
    }
}