.theatreProgram__lastPic {
    background-image: url(../../../../images/hanukkah2025/Program/9.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 612px;
    height: 104px;
    margin-top: 104px;
}

.program_ul {
    padding: 0;
    list-style-type: none;
    position: relative;
}

.TheatreProgram__pics__container {
    position: relative;
}
.TheatreProgram__first_right_pic_2 {
    display: none;
}

.TheatreProgram__first_right_pic {
    background-image: url(../../../../images/hanukkah2025/Program/8.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: -100px;
    width: 135px;
    height: 100px;
}

.TheatreProgram__second_left_pic {
    background-image: url(../../../../images/hanukkah2025/Program/1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -120px;
    left: -203px;
    width: 203px;
    height: 260px;
}

@media screen and (max-width: 1227px) {
    .TheatreProgram__second_left_pic {
        width: 141px;
        height: 181px;
        left: -110px;
    }
}


@media screen and (max-width: 1020px) {
    .TheatreProgram__first_right_pic {
        right: -60px;
        width: 96px;
        height: 72px;
    }
}

@media screen and (max-width: 890px) {
    .TheatreProgram__first_right_pic {
        right: -100px;
    }

    .TheatreProgram__second_left_pic {
        width: 141px;
        height: 181px;
        left: -120px;
    }

    .theatreProgram__lastPic {
        width: 352px;
        height: 60px;
        margin-top: 74px;
    }
}

@media screen and (max-width: 665px) {
    .TheatreProgram__first_right_pic {
        display: none;
    }
    .TheatreProgram__first_right_pic_2 {
        display: flex;
        background-image: url(../../../../images/hanukkah2025/Program/8.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 0px;
        width: 57px;
        height: 43px;
    }

    .TheatreProgram__second_left_pic {
        width: 52px;
        height: 67px;
        left: 0;
        bottom: -60px;
    }
}

@media screen and (max-width: 485px) {
    .TheatreProgram__first_right_pic_2 {
        top: 30px;
    }

    .theatreProgram__lastPic {
        width: 199px;
        height: 34px;
        margin-top: 37px;
    }
}

@media screen and (max-width: 370px) {
    .TheatreProgram__first_right_pic_2 {
        top: 50px;
    }
}

@media screen and (max-width: 339px) {
    .TheatreProgram__first_right_pic_2 {
        display: none;
    }
}


