.theatreProgram__lastPic {
    background-image: url(../../../../images/hanukkah2025/Program/9.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 612px;
    height: 104px;
    margin-top: 104px;
}

.scienceProgram__lastPic {
    background-image: url(../../../../images/hanukkah2025/Program/3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 479px;
    height: 180px;
    margin-top: 54px;
}

.scienceProgram__title__container {
    max-width: 550px;
}

.scienceProgram__first__right__pic {
    background-image: url(../../../../images/hanukkah2025/Program/7.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -90px;
    right: -100px;
    width: 197px;
    height: 122px;
}

.program_ul {
    padding: 0;
    list-style-type: none;
    position: relative;
}

.TheatreProgram__pics__container {
    position: relative;
}
.TheatreProgram__first_right_pic_2 {
    display: none;
}

.TheatreProgram__first_right_pic {
    background-image: url(../../../../images/hanukkah2025/Program/8.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: -100px;
    width: 135px;
    height: 100px;
}

.TheatreProgram__second_left_pic {
    background-image: url(../../../../images/hanukkah2025/Program/1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -120px;
    left: -203px;
    width: 203px;
    height: 260px;
}

.scienceProgram__second__right__pic {
    background-image: url(../../../../images/hanukkah2025/Program/5.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    right: -140px;
    width: 161px;
    height: 101px;
}

@media screen and (max-width: 1227px) {
    .TheatreProgram__second_left_pic {
        width: 141px;
        height: 181px;
        left: -110px;
    }
}

@media screen and (max-width: 1050px) {
    .scienceProgram__first__right__pic {
        top: -90px;
        right: 0;
        width: 161px;
        height: 100px;
    }

    .scienceProgram__second__right__pic {
        width: 111px;
        height: 70px;
        right: 150;
        bottom: -20px;
    }
}


@media screen and (max-width: 1020px) {
    .TheatreProgram__first_right_pic {
        right: -60px;
        width: 96px;
        height: 72px;
    }
}

@media screen and (max-width: 890px) {
    .TheatreProgram__first_right_pic {
        right: -100px;
    }

    .TheatreProgram__second_left_pic {
        width: 141px;
        height: 181px;
        left: -120px;
    }

    .theatreProgram__lastPic {
        width: 352px;
        height: 60px;
        margin-top: 74px;
    }

    .scienceProgram__lastPic {
        width: 352px;
        height: 132px;
        margin-top: 18px;
    }

    .scienceProgram__first__right__pic {
        top: -100px;
        right: -50px;
    }
}

@media screen and (max-width: 665px) {
    .TheatreProgram__first_right_pic {
        display: none;
    }
    .TheatreProgram__first_right_pic_2 {
        display: flex;
        background-image: url(../../../../images/hanukkah2025/Program/8.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 0px;
        width: 57px;
        height: 43px;
    }

    .TheatreProgram__second_left_pic {
        width: 52px;
        height: 67px;
        left: 0;
        bottom: -60px;
    }

    .scienceProgram__first__right__pic {
        width: 108px;
        height: 67px;
        top: -70px;
        right: 20px;
    }
}

@media screen and (max-width: 485px) {
    .scienceProgram__short__title {
        max-width: 250px;
    }
    .TheatreProgram__first_right_pic_2 {
        top: 30px;
    }

    .theatreProgram__lastPic {
        width: 199px;
        height: 34px;
        margin-top: 37px;
    }

    .scienceProgram__lastPic {
        width: 196px;
        height: 74px;
        margin-top: 0;
    }
}

@media screen and (max-width: 370px) {
    .TheatreProgram__first_right_pic_2 {
        top: 50px;
    }
}

@media screen and (max-width: 339px) {
    .TheatreProgram__first_right_pic_2 {
        display: none;
    }

    .scienceProgram__first__right__pic {
        right: -5px;
    }
}


