.main__footer {
    width: calc(100% - 86px);
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 20px;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;  
    padding-bottom: 100px;
}

@media screen and (max-width: 800px) {
    .main__footer {
        padding-top: calc(153px);
    }
}

@media screen and (max-width: 700px) {
    .main__footer {
        flex-direction: column-reverse;
        align-items: flex-start;

    }
}

.main-footer-book-page {
    background-image: url(../../../images/mainPage/bookgrey.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 153px;
    background-size: cover;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1200px) {
    .main-footer-book-page {
        background-size: contain;
    }
}
.main-footer-wrapper {
    display: flex;
    justify-content: end;
}
.main-footer-contacts-contsiner {

}
.main-footer__title {
    font-family: "Martel", serif;
    font-size: 15px;
    font-weight: bold;
}
.main-footer-contacts-number {
    font-family: "Martel", serif;
    font-size: 15px;
}
.main-footer-logo {
    background-image: url(../../../images/mainPage/logobottom.png);
    background-repeat: no-repeat;
    width: 114px;
    height: 114px;
    margin-right: 24px;
    background-size: contain;
}

@media screen and (max-width: 500px) {
    .main-footer-logo {
        width: 70px;
        height: 70px;

    }
}

.main-footer__title {
    margin-top: 0;
    font-weight: bold;
    font-family: "Martel", serif;
    font-size: 15px;
}

.main-footer__support-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-footer__support-li {
    list-style-type: none;
    font-family: "Martel", serif;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .main-footer__support-li {
        font-size: 12px;
    }
}

.main-footer__logo-support-wrapper {
    display: flex;
}

@media screen and (max-width: 1000px) {
    .main-footer__logo-support-wrapper {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
}

.main-footer__logo-support-wrapper {
    display: flex;
    align-self: flex-end;
}

.main-footer__icons-container {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.main-footer-letters-grey {
    background-image: url(../../../images/mainPage/lettersgrey.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 401px;
    height: 188px;
    position: absolute;
    left: 87px;
    bottom: 59px;
}

@media screen and (max-width: 1000px) {
    .main-footer-letters-grey {
        left: none;
        right: 20px;
        bottom: 10px;
    }
}

.main-footer__icon-facebook {
    background-image: url(../../../images/mainPage/FB.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 51px;
    height: 50px;
    margin-right: 20px;
}

.main-footer__icon-instagram {
    background-image: url(../../../images/mainPage/INSTA.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 51px;
    height: 50px;
    margin-right: 20px;
}

.main-footer__icon-tg {
    background-image: url(../../../images/mainPage/TG.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 51px;
    height: 50px;
}

.main-footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-footer__title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.main-footer-contacts-number {
    margin-top: 10px;
    font-size: 20px;
}