.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    /*width: calc(100% - 86px);*/
    width: 100%;
    padding: 0 43px 0 43px;
    position: relative;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 635px) {
    .container {
        /*width: calc(100% - 40px);*/
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }
}