.mainInfo_center_container_purim2026 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    max-width: 803px;
    position: relative;
}

.mainInfo__star {
    width: 30px;
    height: 30px;
    background-image: url(../../../../../images/banners/purim_2026/bigstar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: absolute;
    top: 106px;
    right: 98px;
}

.mainInfo__big__star {
    width: 78px;
    height: 78px;
    background-image: url(../../../../../images/banners/purim_2026/bigstar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: -100px;
}

.mainInfo__wawyline_and_round {
    width: 216px;
    height: 83px;
    background-image: url(../../../../../images/banners/purim_2026/wavylineandround.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -110px;
}

.mainInfo__pinkround {
    width: 25px;
    height: 25px;
    background-image: url(../../../../../images/banners/purim_2026/pinkround.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: contain;
    position: absolute;
    top: 420px;
    right: -50px;

}

.mainInfo__blueround {
    width: 20px;
    height: 20px;
    background-image: url(../../../../../images/banners/purim_2026/blueround.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: absolute;
    top: 220px;
    right: -70px;
}

.mainInfo__blue__dots {
    width: 28px;
    height: 134px;
    background-image: url(../../../../../images/banners/purim_2026/smalldots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: absolute;
    top: 520px;
    right: -90px;
}

@media screen and (max-width: 1000px) {
    .mainInfo__wawyline_and_round {
        width: 150px;
        height: 58px;
        top: 20px;
        left: -10px;
    }

    .mainInfo__pinkround {
        width: 19px;
        height: 19px;
    }

    .mainInfo__blueround {
        top: 200px;
        right: -20px;
    }

    .mainInfo__blue__dots {
        width: 22px;
        height: 103px;
        top: 520px;
        right: -30px;
    }

    .mainInfo__big__star {
        width: 60px;
        height: 60px;
        bottom: -50px;
        right: -20px;
    }

    .mainInfo_center_container_purim2026 {
        margin-bottom: 80px;
    }
} 

@media screen and (max-width: 738px) {
    .mainInfo_center_container_purim2026 {
        margin-top: 50px;
        max-width: 500px;
        width: calc(100% - 40px);
    }

    .mainInfo__wawyline_and_round {
        top: -10px;
        left: -50px;
    }

    .mainInfo__star {
        top: -20px;
        right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .mainInfo__wawyline_and_round {
        width: 73px;
        height: 28px;
        top: -20px;
        left: -20px;
    }

    .mainInfo__pinkround {
        top: unset;
        bottom: 0px;
        right: 0px;
    }

    .mainInfo__star {
        right: -10px;
    }

    .mainInfo__blue__dots {
        width: 16px;
        height: 76px;
        top: unset;
        bottom: -20px;
        right: -30px;
    }

    .mainInfo__big__star {
        width: 50px;
        height: 50px;
        bottom: -70px;
        right: -20px;
    }
}