.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__navbar {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #D9D9D9;
    /*height: calc(102px + 26px);*/
}

@media screen and (max-width: 1065px) {
    .header__navbar {
        padding-bottom: 35px;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media screen and (max-width: 766px) {
    .header__navbar {
        padding-bottom: 13px;
        /*height: calc(79px + 13px);*/
        
    }
}

@media screen and (max-width: 700px) {
    .header__navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header__logo__img {
    width: 102px;
    height: 102px;
    border-radius: 50%;
}

@media screen and (max-width: 1065px) {
    .header__logo__img {
        width: 79px;
        height: 79px;
    }
}

.header__logo-text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-left: 10px;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .header__logo-text {
        width: 200px;
        
    }
}

@media screen and (max-width: 750px) {
    .header__logo-text {
        width: 180px;
    }
}

@media screen and (max-width: 450px) {
    .header__logo-text {
        margin-left: 5px;
        font-size: 14px;
        width: 180px;
    }
}

.header__links-container {
    padding: 0;
    display: flex; 
    width: fit-content;
    align-self: flex-end;
    margin: 0;
}

@media screen and (max-width: 1065px) {
    .header__links-container {
        align-self: flex-end;
    }
}

@media screen and (max-width: 700px) {
    .header__links-container {
      display: none;
    }
}

.header__link {
    list-style-type: none;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

@media screen and (max-width: 1065px) {
    .header__link {
        font-size: 12px;
        
    }
}

.header__link:hover {
    opacity: 0.7;
}

.header__logo-container {
    display: flex;
    text-decoration: none;
    color: black;
    align-self: flex-start;
}

@media screen and (max-width: 700px) {
    .header__nav {
      display: none;
    }
}

.header__btn-contacts {
    display: none;
}

@media screen and (max-width: 700px) {
    .header__btn-contacts {
      background-image: url(../../images/menuIcon.png);
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      object-fit: cover;
      cursor: pointer;
      display: flex;
      border: none;
      background-color: transparent;
    }
}