.footer {
   
    background-color: rgba(47, 128, 237, 0.5);
    min-height: 200px;
    padding-top: 50px;
}


.footer__links-container {
    padding: 0;
    display: flex;
    margin-bottom: 50px;
}

.footer__link {
    list-style-type: none;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__contact-item-link {
    font-size: 36px;
    color: #2f80ed;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .footer__contact-item-link {
        font-size: 28px;
    }
}

