.heading {
    text-transform: uppercase;
    font-size: 40px;
    color: #374BA5;
    margin: 0;
    max-width: 796px;
    text-align: start;
    margin-top: 60px;
}

.subTitle {
    color: #374BA5;
    font-size: 30px;
    font-family: "Mulish", sans-serif;
    margin-bottom: 20px;
    max-width: 796px;
    text-align: start;
}

.EventIntroHeading {
    text-transform: uppercase;
    font-size: 46px;
    font-family: "Mulish", sans-serif;
    color: #374BA5;
    margin: 0;
    max-width: 796px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    align-self: center;
}

.heading__red {
    color: #b8542c;
}


.heading__green {
    color: #D9D983;
}

.heading__orange {
    color: #EB892C;
}

.heading__blue {
    color: #82AFBE;
}

.heading__mint {
    color: #97BFA0;
}

.heading__light__blue {
    color: #A1BDBF;
}

.heading__violet {
    color: #374BA5;
}

.heading__white {
    color: #fff;
}

.heading__F47622 {
    color: #F47622;
}

.heading__E5070ABD {
    color: #E5070ABD;
}

.heading__3B6BB4 {
    color: #3B6BB4;
}

.heading__EF7936 {
    color: #EF7936;
}

.heading__1563FF {
    color: #1563FF;
}

.heading__size_hanukkah2025 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;                   
    font-style: normal;                 
    font-size: 24px;                    
    line-height: 50px;  
}


@media screen and (max-width: 850px) {
    .heading { 
        font-size: 24px;
        margin-top: 25px;
    }

    .subTitle {
        font-size: 18px;
        margin-top: 25px;
    }

    .EventIntroHeading {
        font-size: 28px;
        margin-top: 35px;
    }
}


@media screen and (max-width: 550px) {
    .heading { 
        font-size: 24px;
        margin-top: 25px;
    }

    .subTitle {
        font-size: 18px;
        margin-top: 25px;
    }

    .EventIntroHeading {
        font-size: 28px;
        margin-top: 35px;
    }
}

