.ourTeam-section {
    background-color: #fff;
    padding: 80px;
}

@media screen and (max-width: 1065px) {
    .ourTeam-section {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.ourTeam__main-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    /*max-width: 1000px;*/
    justify-content: center;
}

.ourTeam-main-title {
    font-weight: bold;
    font-size: 32px;
    text-align: start;
    margin-top: 0;
    
    margin-bottom: 80px;
}

@media screen and (max-width: 1065px) {
    .ourTeam-main-title {
        font-size: 32px;
        
    }
}

@media screen and (max-width: 770px) {
    .ourTeam-main-title {
        margin-bottom: 40px;
    }
}

.ourTeam__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin: 5px;
}

@media screen and (max-width: 400px) {
    .ourTeam__container {
        width: 250px;
        margin: 10px;
    }
}

.ourTeam__pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 400px) {
    .ourTeam__pic {
        width: 170px;
        height: 170px;
    }
}

.ourTeam__name {
    font-weight: bold;
}

.ourTeam__info {
    margin: 0;
    font-size: 14px;

}