.no-wrap {
  white-space: nowrap;
}

.text {
  font-weight: 300;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  line-height: 50px;
  text-align: start;
  box-sizing: border-box;
}

.text-center {
  margin: 30px;
  text-align: center;
  align-self: center;
}

.sub-title {
  font-weight: 300;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  color: #374BA5;
}

.list {
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  line-height: 50px;
  text-align: start;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .text {
      line-height: unset;
      font-size: 18px;
  } 

  .sub-title {
    font-size: 20px;
  }

  .list {
    font-size: 18px;
    max-width: 100%;
    line-height: unset;
    padding-left: 25px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 700px) {
  .text {
      line-height: 28px;
      font-size: 16px;
  }

  .sub-title {
    font-size: 18px;
  }

  .list {
    font-size: 16px;
  }
}  

.App {
  text-align: center;
  background-color: #fff;
  background-color: #D6D6D6;
  max-width: 2250px;
  padding: 32px;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1073px) {
  .App {
    padding: 0;
    background-color: #fff;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
