.separator_page_container {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
} 

.separator_page_img {
    background-image: url(../../images/storytime/bookpagegrey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    
}

.separator_page_img_wide {
    height: clamp(100px, 15vw, 300px);
}

.separator_page_img_tall {
    height: clamp(100px, 60vw, 700px);
}

.separator_page_img_gray {
    background-image: url(../../images/storytime/bookpagegrey.png);
}

.separator_page_img_blue {
    background-image: url(../../images/separatePages/bluepage.png);
}

.separator_page_img_purple {
    background-image: url(../../images/separatePages/purplepage.png);
}

.separator_page_img_pink {
    background-image: url(../../images/separatePages/pinkyellow.png);
}

.separator_page_img_yellow {
    background-image: url(../../images/separatePages/yellowpage.png);
}

.separator_page_img_another {
    background-image: url(../../images/separatePages/pagecolarfooter.png);
}

.separator_page_img_three_lines {
    background-image: url(../../images/separatePages/photoStoriesTime/3lines2.png);
}

.separator_page_img_three_lines_redline {
    background-image: url(../../images/separatePages/photoStoriesTime/3lines.png);
}

.separator_page_img_blueline_middle {
    background-image: url(../../images/separatePages/photoStoriesTime/blue.png);
}

.separator_page_img_blue_bigline {
    background-image: url(../../images/separatePages/photoStoriesTime/bluebigline.png);
}

.separator_page_img_blueline {
    background-image: url(../../images/separatePages/photoStoriesTime/blueline.png);
}

.separator_page_img_orangeline {
    background-image: url(../../images/separatePages/photoStoriesTime/orangeline.png);
}

.separator_page_img_redline {
    background-image: url(../../images/separatePages/photoStoriesTime/redline.png);
}

.separator_page_img_yellowline {
    background-image: url(../../images/separatePages/photoStoriesTime/yellowline.png);
}

